<template>
<div>
	<p>Funcionario: {{funcionario}}</p>
	<p>Treinamento: {{nome}}</p>
	<p>Data: {{data}}</p>
	<p>Instrutor: {{instrutor}}</p>
	<router-link to="/treinamentosrealizados">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'treinamentorealizado',
    data () {
      return {
      }
    },
    computed: {
      funcionario () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].idFuncionario.nome
      },
      nome () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].idTreinamento.nome
      },
      data () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].data
      },
      instrutor () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].instrutor
      }
    }
  }
</script>
<style>

</style>