<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			<div class="form-group">
                        <label>Nome do processo:</label>
		<input type="text" class="form-control" placeholder="" v-model="nome">
		</div>
		<div class="form-group">
                <label>Processo:</label>
  <select class="form-control" v-model="processoSelecionado">
    <option v-for="processo in processos" :value="processo">{{processo.nome}}</option>
  </select>
</div>
<div class="form-group">
  <label>Regional:</label>
  <select class="form-control" v-model="regionalSelecionada">
    <option v-for="regional in regionais" :value="regional">{{regional.nome}}</option>
  </select>
</div>
			<input type="submit">
		</form>
		<p>valores atuais:</p>
		<p>id: {{idAtual}} nome: {{nomeAtual}} regionalAtual: {{regionalAtual}} regionalAtual: {{processoAtual}}</p>
		<router-link to="/tiposprocesso">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editartipoprocesso',
    data () {
      return {
        nome: '',
        nomeCopia: '',
        processoCopia: '',
        regionalCopia: '',
        processoSelecionado: '',
        regionalSelecionada: ''
      }
    },
    computed: {
      id () {
        return this.$store.state.tiposprocesso[this.$route.query.index].id
      },
      idAtual () {
        return this.$store.state.tiposprocesso[this.$route.query.index].id
      },
      nomeAtual () {
        return this.$store.state.tiposprocesso[this.$route.query.index].nome
      },
      processoAtual () {
        return this.$store.state.tiposprocesso[this.$route.query.index].processo.nome
      },
      regionalAtual () {
        return this.$store.state.tiposprocesso[this.$route.query.index].regional.nome
      },
      regionais () {
        return this.$store.state.regionais
      },
      processos () {
        return this.$store.state.processos
      }
    },
    watch: {
      id () {
        this.nome = ''
        this.processoSelecionado = ''
        this.regionalSelecionada = ''
      }
    },
    mounted () {
      this.id = ''
      this.nomeCopia = ''
      this.processoCopia = ''
      this.regionalCopia = ''
      this.processoSelecionado = ''
      this.regionalSelecionada = ''
      this.getRegionais()
      this.getProcessos()
    },
    methods: {
      alterar () {
        this.nomeCopia = this.nome
        this.processoCopia = this.processoSelecionado
        this.regionalCopia = this.regionalSelecionada
        this.$http.put('http://endicon.esy.es/dados/tiposprocesso/' + this.id, {
          'Nome': this.nome,
          'TB_Processo_idTB_Processo': this.processoSelecionado.id,
          'TB_Regional_idTB_Regional': this.regionalSelecionada.id
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_TIPOPROCESSO', {
            'index': this.$route.query.index,
            'nome': this.nomeCopia,
            'processo': this.processoCopia,
            'regional': this.regionalCopia
          })
          this.nomeCopia = ''
          this.processoCopia = ''
          this.regionalCopia = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getRegionais () {
        this.$http.get('http://endicon.esy.es/dados/regionais').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_REGIONAIS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getProcessos () {
        this.$http.get('http://endicon.esy.es/dados/processos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_PROCESSOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>