<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/tiposprocesso/novotipoprocesso">Novo Tipo Processo</router-link>
<button @click="getTiposProcesso">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(tipoprocesso,index) in tiposProcesso">
	<td>{{tipoprocesso.id|capitalize}}</td>
	<td>{{tipoprocesso.nome|capitalize}}</td>
	<td>{{tipoprocesso.processo.nome|capitalize}}</td>
	<td>{{tipoprocesso.regional.nome|capitalize}}</td>
	<td>
		<router-link :to="{path:'/tiposprocesso/vertipoprocesso', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/tiposprocesso/editartipoprocesso', query:{index:index}}">Alterar</router-link>
		<router-link to="/tiposprocesso"><button @click="deletar(tipoprocesso.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listatiposprocesso',
    data () {
      return {
        colunas: ['id', 'nome', 'processo', 'regional', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      tiposProcesso () {
        return this.$store.state.tiposprocesso
      }
    },
    mounted () {
      this.getTiposProcesso()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/tiposprocesso/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getTiposProcesso()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: O tipo processo selecionado está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getTiposProcesso () {
        this.$http.get('http://endicon.esy.es/dados/tiposprocesso').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_TIPOSPROCESSO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>