<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">

		 	<div class="form-group">
                        <label>Nome do processo:</label>
		<input type="text" class="form-control" placeholder="" v-model="nome">
		</div>
		<div class="form-group">
                <label>Processo:</label>
  <select class="form-control" v-model="processoSelecionado">
    <option v-for="processo in processos" :value="processo">{{processo.nome}}</option>
  </select>
</div>
<div class="form-group">
  <label>Regional:</label>
  <select class="form-control" v-model="regionalSelecionada">
    <option v-for="regional in regionais" :value="regional">{{regional.nome}}</option>
  </select>
</div>
		<input type="submit">

	</form>
	<router-link to="/tiposprocesso">Fechar</router-link>
</section>
</template>
<script>
  export default {
    name: 'novaregional',
    data () {
      return {
        nome: '',
        processoSelecionado: '',
        nomeCopia: '',
        processoCopia: '',
        regionalCopia: '',
        regionalSelecionada: ''
      }
    },
    computed: {
      regionais () {
        return this.$store.state.regionais
      },
      processos () {
        return this.$store.state.processos
      }
    },
    mounted () {
      this.getRegionais()
      this.getProcessos()
    },
    methods: {
      enviar () {
        this.nomeCopia = this.nome
        this.processoCopia = this.processoSelecionado
        this.regionalCopia = this.regionalSelecionada
        this.$http.post('http://endicon.esy.es/dados/tiposprocesso/novo_tipoprocesso', {
          'Nome': this.nome,
          'TB_Processo_idTB_Processo': this.processoSelecionado.id,
          'TB_Regional_idTB_Regional': this.regionalSelecionada.id
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((data) => {
            this.$store.commit('ADD_TIPOPROCESSO', {
              'id': data.id,
              'nome': this.nomeCopia,
              'processo': this.processoCopia,
              'regional': this.regionalCopia
            })
          })
          this.nome = ''
          this.regionalSelecionada = ''
          this.processoSelecionado = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getRegionais () {
        this.$http.get('http://endicon.esy.es/dados/regionais').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_REGIONAIS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getProcessos () {
        this.$http.get('http://endicon.esy.es/dados/processos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_PROCESSOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>