<template>
<div>
	<p>id: {{id}}</p>
	<p>nome: {{nome}}</p>
	<p>estado: {{processo}}</p>
	<p>estado: {{regional}}</p>
	<router-link to="/regionais">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'tipoprocesso',
    data () {
      return {
      }
    },
    computed: {
      id () {
        return this.$store.state.tiposprocesso[this.$route.query.index].id
      },
      nome () {
        return this.$store.state.tiposprocesso[this.$route.query.index].nome
      },
      processo () {
        return this.$store.state.tiposprocesso[this.$route.query.index].processo.nome
      },
      regional () {
        return this.$store.state.tiposprocesso[this.$route.query.index].regional.nome
      }
    }
  }
</script>
<style>

</style>