<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/funcoes/novafuncao">Nova funcao</router-link>
<button @click="getFuncoes">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(funcao,index) in funcoes">
	<td v-for="atributo in funcao">{{atributo|capitalize}}</td>
	<td>
		<router-link :to="{path:'/funcoes/verfuncao', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/funcoes/editarfuncao', query:{index:index}}">Alterar</router-link>
		<router-link to="/funcoes"><button @click="deletar(funcao.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listafuncoes',
    data () {
      return {
        colunas: ['id', 'nome', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      funcoes () {
        return this.$store.state.funcoes
      }
    },
    mounted () {
      this.getFuncoes()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/funcoes/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getFuncoes()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: A funcao selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getFuncoes () {
        this.$http.get('http://endicon.esy.es/dados/funcoes').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCOES', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>