<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/riscosidentificados/novoriscoidentificado">Novo risco identificado</router-link>
<button @click="getRiscosIdentificados">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(riscoidentificado,index) in riscosidentificados">
	<td v-for="atributo in riscoidentificado">{{atributo|capitalize}}</td>
	<td>
		<router-link :to="{path:'/riscosidentificados/veriscoidentificado', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/riscosidentificados/editariscoidentificado', query:{index:index}}">Alterar</router-link>
		<router-link to="/riscosidentificados"><button @click="deletar(riscoidentificado.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listariscosidentificados',
    data () {
      return {
        colunas: ['id', 'nome', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      riscosidentificados () {
        return this.$store.state.riscosidentificados
      }
    },
    mounted () {
      this.getRiscosIdentificados()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/riscosidentificados/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getRiscosIdentificados()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: A funcao selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getRiscosIdentificados () {
        this.$http.get('http://endicon.esy.es/dados/riscosidentificados').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_RISCOSIDENTIFICADOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>