<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">

		 	<div class="form-group">
                        <label>Nome do risco identificado:</label>
		<input type="text" class="form-control" placeholder="" v-model="nome">
		</div>
		<input type="submit">

	</form>
	<router-link to="/riscosidentificados">Fechar</router-link>
</section>
</template>
<script>
  export default {
    name: 'novoriscoidentificado',
    data () {
      return {
        nome: '',
        nomeCopia: ''
      }
    },
    methods: {
      enviar () {
        this.nomeCopia = this.nome
        this.$http.post('http://endicon.esy.es/dados/riscosidentificados/novo_riscoidentificado', {
          'Nome': this.nome
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((data) => {
            this.$store.commit('ADD_RISCOIDENTIFICADO', {
              'id': data.id,
              'nome': this.nomeCopia
            })
          })
          this.nome = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>