<template>
<div>
	<p>id: {{id}}</p>
	<p>nome: {{nome}}</p>
	<router-link to="/riscosidentificados">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'riscosidentificados',
    data () {
      return {
      }
    },
    computed: {
      id () {
        return this.$store.state.riscosidentificados[this.$route.query.index].id
      },
      nome () {
        return this.$store.state.riscosidentificados[this.$route.query.index].nome
      }
    }
  }
</script>
<style>

</style>