<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			id: <input type="number" v-model="id" readonly>
			nome: <input type="text" v-model="nome">
			codigo: <input type="text" v-model="codigo">
			<input type="submit">
		</form>
		<p>valores atuais:</p>
		<p>id: {{idAtual}} nome: {{nomeAtual}} codigo: {{codigoAtual}}</p>
		<router-link to="/treinamentos">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editartreinamento',
    data () {
      return {
        id: '',
        nome: '',
        codigo: ''
      }
    },
    computed: {
      id () {
        return this.$store.state.treinamentos[this.$route.query.index].id
      },
      idAtual () {
        return this.$store.state.treinamentos[this.$route.query.index].id
      },
      nomeAtual () {
        return this.$store.state.treinamentos[this.$route.query.index].nome
      },
      codigoAtual () {
        return this.$store.state.treinamentos[this.$route.query.index].codigo
      }
    },
    watch: {
      id () {
        this.nome = ''
        this.codigo = ''
      }
    },
    mounted () {
      this.id = ''
      this.nome = ''
      this.codigo = ''
    },
    methods: {
      alterar () {
        this.$http.put('http://endicon.esy.es/dados/treinamentos/' + this.id, {
          'Nome': this.nome,
          'Codigo': this.codigo
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_TREINAMENTO', {
            'index': this.$route.query.index,
            'nome': this.nome,
            'codigo': this.codigo
          })
          this.nome = ''
          this.codigo = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>