<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/treinamentos/novotreinamento">Nova treinamento</router-link>
<button @click="getTreinamentos">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(treinamento,index) in treinamentos">
	<td v-for="atributo in treinamento">{{atributo|capitalize}}</td>
	<td>
		<router-link :to="{path:'/treinamentos/vertreinamento', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/treinamentos/editartreinamento', query:{index:index}}">Alterar</router-link>
		<router-link to="/treinamentos"><button @click="deletar(treinamento.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listatreinamentos',
    data () {
      return {
        colunas: ['id', 'nome', 'codigo', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      treinamentos () {
        return this.$store.state.treinamentos
      }
    },
    mounted () {
      this.getTreinamentos()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/treinamentos/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getTreinamentos()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: O treinamento selecionado está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getTreinamentos () {
        this.$http.get('http://localhost:8000/dados/treinamentos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_TREINAMENTOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>