<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">

		 	<div class="form-group">
                        <label>Nome:</label>
		<input type="text" class="form-control" placeholder="" v-model="nome">
		</div>
		<div class="form-group">
                <label>Código:</label>
		<input type="text" class="form-control" placeholder="" v-model="codigo">
		</div>
		<input type="submit">

	</form>
	<router-link to="/treinamentos">Fechar</router-link>
</section>
</template>
<script>
  export default {
    name: 'novotreinamento',
    data () {
      return {
        nome: '',
        codigo: '',
        nomeCopia: '',
        codigoCopia: ''
      }
    },
    methods: {
      enviar () {
        this.nomeCopia = this.nome
        this.codigoCopia = this.codigo
        this.$http.post('http://endicon.esy.es/dados/treinamentos/novo_treinamento', {
          'Nome': this.nome,
          'Codigo': this.codigo
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((data) => {
            this.$store.commit('ADD_TREINAMENTO', {
              'id': data.id,
              'nome': this.nomeCopia,
              'codigo': this.codigoCopia
            })
          })
          this.nome = ''
          this.codigo = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>