<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			<div class="form-group"><label for="identificador">id:</label> <input type="number" name="identificador" v-model="id" readonly></div>
			<div class="form-group">
	<label for="regional">Regional:</label>
  <select class="form-control" name="regional" v-model="regionalSelecionada">
    <option v-for="regional in regionais" :value="regional">{{regional.nome}}</option>
  </select>
</div>
<a @click="getRegionais">atualizar regionais</a>
		<div class="form-group">
		<label for="nome">Nome:</label>
		<input type="text" class="form-control" name="nome" placeholder="nome do polo" v-model="nome">
		</div>
			<input type="submit">
		</form>
		<p>valores atuais:</p>
		<p>id: {{idAtual}} nome: {{nomeAtual}} regional: {{regionalAtual}}</p>
		<router-link to="/polos">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editarpolo',
    data () {
      return {
        id: '',
        nome: '',
        regional: '',
        regionalSelecionada: ''
      }
    },
    computed: {
      id () {
        return this.$store.state.polos[this.$route.query.index].id
      },
      idAtual () {
        return this.$store.state.polos[this.$route.query.index].id
      },
      nomeAtual () {
        return this.$store.state.polos[this.$route.query.index].nome
      },
      regionalAtual () {
        return this.$store.state.polos[this.$route.query.index].regional.nome
      },
      regionais () {
        return this.$store.state.regionais
      }
    },
    watch: {
      id () {
        this.nome = ''
        this.regionalSelecionada = ''
      }
    },
    mounted () {
      this.id = ''
      this.nome = ''
      this.regional = ''
      this.getRegionais()
    },
    methods: {
      alterar () {
        this.$http.put('http://endicon.esy.es/dados/polos/' + this.id, {
          'Nome': this.nome,
          'TB_Regional_idTB_Regional': this.regionalSelecionada.id
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_POLO', {
            'index': this.$route.query.index,
            'nome': this.nome,
            'regional': this.regionalSelecionada
          })
          this.nome = ''
          this.regionalSelecionada = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getRegionais () {
        this.$http.get('http://endicon.esy.es/dados/regionais').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_REGIONAIS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>