<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/polos/novopolo">Novo polo</router-link>
<button @click="getPolos">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(polo,index) in polos">
	<td>{{polo.id|capitalize}}</td>
	<td>{{polo.nome|capitalize}}</td>
	<td>{{polo.regional.nome|capitalize}}</td>
	<td>
		<router-link :to="{path:'/polos/verpolo', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/polos/editarpolo', query:{index:index}}">Alterar</router-link>
		<router-link to="/polos"><button class="btn btn-info" @click="deletar(polo.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listapolos',
    data () {
      return {
        colunas: ['id', 'nome', 'regional', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      polos () {
        return this.$store.state.polos
      }
    },
    mounted () {
      this.getPolos()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/polos/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getPolos()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: O polo selecionado está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
      },
      getPolos () {
        this.$http.get('http://endicon.esy.es/dados/polos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_POLOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style></style>