<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">
	<fieldset>
	<legend>Novo Polo </legend>
	<div class="form-group">
	<label for="regional">Regional:</label>
  <select class="form-control" name="regional" v-model="regionalSelecionada">
    <option v-for="regional in regionais" :value="regional">{{regional.nome}}</option>
  </select>
</div>
<a @click="getRegionais">atualizar regionais</a>
		<div class="form-group">
		<label for="nome">Nome:</label>
		<input type="text" class="form-control" name="nome" placeholder="nome do polo" v-model="nome">
		</div>
		<input type="submit" class="btn btn-default">
		</fieldset>
	</form>
		<router-link to="/polos">Fechar</router-link>

</section>
</template>
<script>
  export default {
    nome: 'novopolo',
    data () {
      return {
        nome: '',
        nomeCopia: '',
        regionalCopia: '',
        regionalSelecionada: ''
      }
    },
    computed: {
      regionais () {
        return this.$store.state.regionais
      }
    },
    mounted () {
      this.getRegionais()
    },
    methods: {
      enviar () {
        this.nomeCopia = this.nome
        this.regionalCopia = this.regionalSelecionada
        this.$http.post('http://endicon.esy.es/dados/polos/novo_polo', {
          'Nome': this.nome,
          'TB_Regional_idTB_Regional': this.regionalSelecionada.id
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((data) => {
            this.$store.commit('ADD_POLO', {
              'id': data.id,
              'nome': this.nomeCopia,
              'regional': this.regionalCopia
            })
          })
          this.nome = ''
          this.regional = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getRegionais () {
        this.$http.get('http://endicon.esy.es/dados/regionais').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_REGIONAIS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>