<template>
<div>
	<p>id: {{id}}</p>
	<p>nome: {{nome}}</p>
	<p>regional: {{regional}}</p>
	<router-link to="/polos">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'polo',
    data () {
      return {
      }
    },
    computed: {
      id () {
        return this.$store.state.polos[this.$route.query.index].id
      },
      nome () {
        return this.$store.state.polos[this.$route.query.index].nome
      },
      regional () {
        return this.$store.state.polos[this.$route.query.index].regional.nome
      }
    }
  }
</script>
<style>

</style>