<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			id: <input type="number" v-model="id" readonly>
			pergunta: <input type="text" v-model="pergunta">
			<input type="submit">
		</form>
		<p>valores atuais:</p>
		<p>id: {{idAtual}} pergunta: {{perguntaAtual}}</p>
		<router-link to="/perguntasrisco">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editarperguntarisco',
    data () {
      return {
        id: '',
        pergunta: '',
        perguntaCopia: ''
      }
    },
    computed: {
      id () {
        return this.$store.state.perguntasrisco[this.$route.query.index].id
      },
      idAtual () {
        return this.$store.state.perguntasrisco[this.$route.query.index].id
      },
      perguntaAtual () {
        return this.$store.state.perguntasrisco[this.$route.query.index].pergunta
      }
    },
    watch: {
      id () {
        this.pergunta = ''
      }
    },
    mounted () {
      this.id = ''
      this.pergunta = ''
    },
    methods: {
      alterar () {
        this.perguntaCopia = this.pergunta
        this.$http.put('http://endicon.esy.es/dados/perguntasrisco/' + this.id, {
          'Pergunta': this.pergunta
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_PERGUNTARISCO', {
            'index': this.$route.query.index,
            'pergunta': this.perguntaCopia
          })
          this.pergunta = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>