<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/perguntasrisco/novaperguntarisco">Nova pergunta risco</router-link>
<button @click="getPerguntasRisco">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(perguntarisco,index) in perguntasrisco">
	<td v-for="atributo in perguntarisco">{{atributo|capitalize}}</td>
	<td>
		<router-link :to="{path:'/perguntasrisco/verperguntarisco', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/perguntasrisco/editarperguntarisco', query:{index:index}}">Alterar</router-link>
		<router-link to="/perguntasrisco"><button @click="deletar(perguntarisco.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listaperguntasrisco',
    data () {
      return {
        colunas: ['id', 'pergunta', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      perguntasrisco () {
        return this.$store.state.perguntasrisco
      }
    },
    mounted () {
      this.getPerguntasRisco()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/perguntasrisco/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getPerguntasRisco()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: A funcao selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getPerguntasRisco () {
        this.$http.get('http://endicon.esy.es/dados/perguntasrisco').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_PERGUNTASRISCO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>