<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">

		 	<div class="form-group">
                        <label>Texto da pergunta:</label>
		<input type="text" class="form-control" placeholder="" v-model="pergunta">
		</div>
		<input type="submit">

	</form>
	<router-link to="/funcoes">Fechar</router-link>
</section>
</template>
<script>
  export default {
    name: 'novaperguntarisco',
    data () {
      return {
        pergunta: '',
        perguntaCopia: ''
      }
    },
    methods: {
      enviar () {
        this.perguntaCopia = this.pergunta
        this.$http.post('http://endicon.esy.es/dados/perguntasrisco/nova_perguntarisco', {
          'Pergunta': this.pergunta
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((data) => {
            this.$store.commit('ADD_PERGUNTARISCO', {
              'id': data.id,
              'pergunta': this.perguntaCopia
            })
          })
          this.pergunta = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>