<template>
<div>
	<p>id: {{id}}</p>
	<p>pergunta: {{pergunta}}</p>
	<router-link to="/perguntasrisco">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'funcao',
    data () {
      return {
      }
    },
    computed: {
      id () {
        return this.$store.state.perguntasrisco[this.$route.query.index].id
      },
      pergunta () {
        return this.$store.state.perguntasrisco[this.$route.query.index].pergunta
      }
    }
  }
</script>
<style>

</style>