<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			id: <input type="number" v-model="id" readonly>
			nome: <input type="text" v-model="nome">
			<div class="form-group">
<label>Polo:</label>
  <select class="form-control" v-model="poloSelecionado">
    <option v-for="polo in polos" :value="polo">{{polo.nome}}</option>
  </select>
</div>
			<input type="submit">
		</form>
		<p>valores atuais:</p>
		<p>id: {{idAtual}} nome: {{nomeAtual}} polo: {{poloAtual}} regional: {{regionalAtual}}</p>
		<router-link to="/localidadespolo">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editarlocalidadepolo',
    data () {
      return {
        id: '',
        nome: '',
        polo: '',
        poloSelecionado: ''
      }
    },
    computed: {
      id () {
        return this.$store.state.localidadespolo[this.$route.query.index].id
      },
      idAtual () {
        return this.$store.state.localidadespolo[this.$route.query.index].id
      },
      nomeAtual () {
        return this.$store.state.localidadespolo[this.$route.query.index].nome
      },
      poloAtual () {
        return this.$store.state.localidadespolo[this.$route.query.index].polo.nome
      },
      regionalAtual () {
        return this.$store.state.localidadespolo[this.$route.query.index].polo.regional.nome
      },
      polos () {
        return this.$store.state.polos
      }
    },
    watch: {
      id () {
        this.nome = ''
        this.poloSelecionado = ''
      }
    },
    mounted () {
      this.id = ''
      this.nome = ''
      this.polo = ''
      this.getPolos()
    },
    methods: {
      alterar () {
        this.$http.put('http://endicon.esy.es/dados/polos/' + this.id, {
          'Nome': this.nome,
          'TB_Polo_idTB_Polo': this.poloSelecionado.id
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_LOCALIDADEPOLO', {
            'index': this.$route.query.index,
            'nome': this.nome,
            'polo': this.poloSelecionado
          })
          this.nome = ''
          this.poloSelecionado = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getPolos () {
        this.$http.get('http://endicon.esy.es/dados/polos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_POLOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>