<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/localidadespolo/novalocalidadepolo">Nova localidade</router-link>
<button @click="getLocalidadesPolo">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(localidadepolo,index) in localidadespolo">
	<td>{{localidadepolo.id|capitalize}}</td>
	<td>{{localidadepolo.nome|capitalize}}</td>
	<td>{{localidadepolo.polo.nome|capitalize}}</td>
	<td>{{localidadepolo.polo.regional.nome}}</td>
	<td>
		<router-link :to="{path:'/localidadespolo/verlocalidadepolo', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/localidadespolo/editarlocalidadepolo', query:{index:index}}">Alterar</router-link>
		<router-link to="/localidadespolo"><button class="btn btn-info" @click="deletar(localidadepolo.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listalocalidadespolo',
    data () {
      return {
        colunas: ['id', 'nome', 'polo', 'regional', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      localidadespolo () {
        return this.$store.state.localidadespolo
      }
    },
    mounted () {
      this.getLocalidadesPolo()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/localidadespolo/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getLocalidadesPolo()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: A localidade selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getLocalidadesPolo () {
        this.$http.get('http://endicon.esy.es/dados/localidadespolo').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_LOCALIDADESPOLO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style></style>