<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">
	<fieldset>
	<legend>Nova Localidade de Polo </legend>
	<div class="form-group">
<label>Polo:</label>
  <select class="form-control" v-model="poloSelecionado">
    <option v-for="polo in polos" :value="polo">{{polo.nome}}</option>
  </select>
</div>
<a @click="getPolos">atualizar polos</a>
		<div class="form-group">
                <label>Nome:</label>
		<input type="text" class="form-control" placeholder="Nome da Localidade" v-model="nome">
		</div>
		<input type="submit" class="btn btn-default">
		</fieldset>
	</form>
		<router-link to="/localidadespolo">Fechar</router-link>

</section>
</template>
<script>
  export default {
    nome: 'novalocalidadepolo',
    data () {
      return {
        nome: '',
        nomeCopia: '',
        poloCopia: '',
        poloSelecionado: ''
      }
    },
    computed: {
      polos () {
        return this.$store.state.polos
      }
    },
    mounted () {
      this.getPolos()
    },
    methods: {
      enviar () {
        this.nomeCopia = this.nome
        this.poloCopia = this.poloSelecionado
        this.$http.post('http://endicon.esy.es/dados/localidadespolo/nova_localidadepolo', {
          'Nome': this.nome,
          'TB_Polo_idTB_Polo': this.poloSelecionado.id
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((data) => {
            this.$store.commit('ADD_LOCALIDADEPOLO', {
              'id': data.id,
              'nome': this.nomeCopia,
              'polo': this.poloCopia
            })
          })
          this.nome = ''
          this.polo = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getPolos () {
        this.$http.get('http://endicon.esy.es/dados/polos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_POLOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>