<template>
<div>
	<p>id: {{id}}</p>
	<p>nome: {{nome}}</p>
	<p>matricula: {{matricula}}</p>
	<p>data de nascimento: {{dataNascimento}}</p>
	<p>sexo: {{sexo}}</p>
	<p>estadocivil: {{estadoCivil}}</p>
	<p>inicioFuncao: {{inicioFuncao}}</p>
	<p>grauInstrucao: {{grauInstrucao}}</p>
	<p>estadoInstrucao: {{estadoInstrucao}}</p>
	<p>inicioRefeicao: {{inicioRefeicao}}</p>
	<p>fimRefeicao: {{fimRefeicao}}</p>
	<p>turnoTrabalho: {{turnoTrabalho}}</p>
	<p>nacionalidade: {{nacionalidade}}</p>
	<p>funcao: {{funcao}}</p>
	<p>endereco: {{endereco}}</p>
	<p>cep: {{cep}}</p>
	<p>posicaoGeografica: {{posicaoGeografica}}</p>
	<p>estado: {{estado}}</p>
	<p>cidade: {{cidade}}</p>
	<p>localidadePolo: {{localidadePolo}}</p>
	<router-link to="/funcionarios">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'funcionario',
    data () {
      return {
      }
    },
    computed: {
      id () {
        return this.$store.state.funcionarios[this.$route.query.index].id
      },
      nome () {
        return this.$store.state.funcionarios[this.$route.query.index].nome
      },
      matricula () {
        return this.$store.state.funcionarios[this.$route.query.index].matricula
      },
      dataNascimento () {
        return this.$store.state.funcionarios[this.$route.query.index].dataNascimento
      },
      sexo () {
        return this.$store.state.funcionarios[this.$route.query.index].sexo
      },
      estadoCivil () {
        return this.$store.state.funcionarios[this.$route.query.index].estadoCivil
      },
      inicioFuncao () {
        return this.$store.state.funcionarios[this.$route.query.index].inicioFuncao
      },
      grauInstrucao () {
        return this.$store.state.funcionarios[this.$route.query.index].grauInstrucao
      },
      estadoInstrucao () {
        return this.$store.state.funcionarios[this.$route.query.index].estadoInstrucao
      },
      inicioRefeicao () {
        return this.$store.state.funcionarios[this.$route.query.index].inicioRefeicao
      },
      fimRefeicao () {
        return this.$store.state.funcionarios[this.$route.query.index].fimRefeicao
      },
      turnoTrabalho () {
        return this.$store.state.funcionarios[this.$route.query.index].turnoTrabalho
      },
      nacionalidade () {
        return this.$store.state.funcionarios[this.$route.query.index].nacionalidade
      },
      funcao () {
        return this.$store.state.funcionarios[this.$route.query.index].funcao.nome
      },
      endereco () {
        return this.$store.state.funcionarios[this.$route.query.index].local.endereco
      },
      cep () {
        return this.$store.state.funcionarios[this.$route.query.index].local.cep
      },
      posicaoGeografica () {
        return this.$store.state.funcionarios[this.$route.query.index].local.posicaoGeografica
      },
      estado () {
        return this.$store.state.funcionarios[this.$route.query.index].local.estado
      },
      cidade () {
        return this.$store.state.funcionarios[this.$route.query.index].local.cidade
      },
      localidadePolo () {
        return this.$store.state.funcionarios[this.$route.query.index].localidadePolo.nome
      }
    }
  }
</script>
<style>

</style>