<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/funcionarios/novofuncionario">Novo funcionario</router-link>
<button @click="getFuncionarios">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(funcionario,index) in funcionarios">
	<td>{{funcionario.id|capitalize}}</td>
	<td>{{funcionario.nome|capitalize}}</td>
	<td>{{funcionario.matricula|capitalize}}</td>
	<td>{{funcionario.funcao.nome|capitalize}}</td>
	<td>{{funcionario.localidadePolo.nome|capitalize}}</td>
	<td>
		<router-link :to="{path:'/funcionarios/verfuncionario', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/funcionarios/editarfuncionario', query:{index:index}}">Alterar</router-link>
		<router-link to="/funcionarios"><button class="btn btn-info" @click="deletar(funcionario.id, funcionario)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listafuncionarios',
    data () {
      return {
        colunas: ['id', 'nome', 'matricula', 'funcao', 'localidadePolo', 'ações'],
        erro: false,
        mensagemErro: '',
        idLocal: ''
      }
    },
    computed: {
      funcionarios () {
        return this.$store.state.funcionarios
      }
    },
    mounted () {
      this.getFuncionarios()
    },
    methods: {
      deletar (id, funcionario) {
        this.idLocal = funcionario.local.id
        this.$http.delete('http://endicon.esy.es/dados/funcionarios/' + id).then((response) => {
          console.log('sucess ' + response)
          this.$http.delete('http://endicon.esy.es/dados/locais/' + this.idLocal).then((response) => {
            console.log('sucess ' + response)
          }, (response) => {
            console.log('erro: ', response)
            this.erro = true
            this.mensagemErro = 'Erro: O local selecionado está sendo utilizado por um ou mais dados, exclua-os primeiro'
          })
          this.getFuncionarios()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: O funcionario selecionado está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
      },
      getFuncionarios () {
        this.$http.get('http://endicon.esy.es/dados/funcionarios').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCIONARIOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style></style>