<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			id: <input type="number" v-model="id" readonly>
			nome: <input type="text" v-model="nome">
			<input type="submit">
		</form>
		<p>valores atuais:</p>
		<p>id: {{idAtual}} nome: {{nomeAtual}}</p>
		<router-link to="/equipamentosindividuais">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editarequipamentoindividual',
    data () {
      return {
        id: '',
        nome: ''
      }
    },
    computed: {
      id () {
        return this.$store.state.equipamentosindividuais[this.$route.query.index].id
      },
      idAtual () {
        return this.$store.state.equipamentosindividuais[this.$route.query.index].id
      },
      nomeAtual () {
        return this.$store.state.equipamentosindividuais[this.$route.query.index].nome
      }
    },
    watch: {
      id () {
        this.nome = ''
      }
    },
    mounted () {
      this.id = ''
      this.nome = ''
    },
    methods: {
      alterar () {
        this.$http.put('http://endicon.esy.es/dados/equipamentosindividuais/' + this.id, {
          'Nome': this.nome
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_EQUIPAMENTOINDIVIDUAL', {
            'index': this.$route.query.index,
            'nome': this.nome
          })
          this.nome = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>