<template>
<div>
	<p>id: {{id}}</p>
	<p>nome: {{nome}}</p>
	<router-link to="/equipamentosindividuais">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'equipamentosindividuais',
    data () {
      return {
      }
    },
    computed: {
      id () {
        return this.$store.state.equipamentosindividuais[this.$route.query.index].id
      },
      nome () {
        return this.$store.state.equipamentosindividuais[this.$route.query.index].nome
      }
    }
  }
</script>
<style>

</style>