<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/equipamentosindividuais/novoequipamentoindividual">Novo equipamento individual</router-link>
<button @click="getEquipamentosIndividuais">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(equipamentoindividual,index) in equipamentosindividuais">
	<td v-for="atributo in equipamentoindividual">{{atributo|capitalize}}</td>
	<td>
		<router-link :to="{path:'/equipamentosindividuais/verequipamentoindividual', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/equipamentosindividuais/editarequipamentoindividual', query:{index:index}}">Alterar</router-link>
		<router-link to="/equipamentosindividuais"><button @click="deletar(equipamentoindividual.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listaequipamentosindividuais',
    data () {
      return {
        colunas: ['id', 'nome', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      equipamentosindividuais () {
        return this.$store.state.equipamentosindividuais
      }
    },
    mounted () {
      this.getEquipamentosIndividuais()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/equipamentosindividuais/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getEquipamentosIndividuais()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: A funcao selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getEquipamentosIndividuais () {
        this.$http.get('http://endicon.esy.es/dados/equipamentosindividuais').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_EQUIPAMENTOSINDIVIDUAIS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>