<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/processos/novoprocesso">Nova processo</router-link>
<button @click="getProcessos">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(processo,index) in processos">
	<td v-for="atributo in processo">{{atributo|capitalize}}</td>
	<td>
		<router-link :to="{path:'/processos/verprocesso', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/processos/editarprocesso', query:{index:index}}">Alterar</router-link>
		<router-link to="/processos"><button @click="deletar(processo.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listaprocessos',
    data () {
      return {
        colunas: ['id', 'nome', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      processos () {
        return this.$store.state.processos
      }
    },
    mounted () {
      this.getProcessos()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/processos/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getProcessos()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: O Processo selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getProcessos () {
        this.$http.get('http://endicon.esy.es/dados/processos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_PROCESSOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>