<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			<div class="form-group">
		 	<label for="regional">Nome:</label>
		<input type="text" class="form-control" name="regional" placeholder="Nome da regional" v-model="nome">
		</div>
		<div class="form-group">
		<label for="estado">Estado:</label>
		<input type="text" class="form-control" name="estado" placeholder="Estado da regional" v-model="estado">
		</div>
			<input type="submit">
		</form>
		<p>valores atuais:</p>
		<p>id: {{idAtual}} nome: {{nomeAtual}} estado: {{estadoAtual}}</p>
		<router-link to="/regionais">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editaregional',
    data () {
      return {
        id: '',
        nome: '',
        estado: ''
      }
    },
    computed: {
      id () {
        return this.$store.state.regionais[this.$route.query.index].id
      },
      idAtual () {
        return this.$store.state.regionais[this.$route.query.index].id
      },
      nomeAtual () {
        return this.$store.state.regionais[this.$route.query.index].nome
      },
      estadoAtual () {
        return this.$store.state.regionais[this.$route.query.index].estado
      }
    },
    watch: {
      id () {
        this.nome = ''
        this.estado = ''
      }
    },
    mounted () {
      this.id = ''
      this.nome = ''
      this.estado = ''
    },
    methods: {
      alterar () {
        this.$http.put('http://endicon.esy.es/dados/regionais/' + this.id, {
          'Nome': this.nome,
          'Estado': this.estado
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_REGIONAL', {
            'index': this.$route.query.index,
            'nome': this.nome,
            'estado': this.estado
          })
          this.nome = ''
          this.estado = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>