<template>
<section class="container-fluid">
  <div class="alert alert-danger alert-dismissible" role="alert" v-if="erro">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="desaparecer"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> {{mensagemErro}}
  </div>
<router-view></router-view>
<router-link to="/regionais/novaregional">Nova regional</router-link>
<button @click="getRegionais">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(regional,index) in regionais">
	<td v-for="atributo in regional">{{atributo|capitalize}}</td>
	<td>    
                <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
     </div>
		<router-link :to="{path:'/regionais/veregional', query:{index:index}}" tag="button" class="btn btn-default">Ver</router-link>
		<router-link :to="{path:'/regionais/editaregional', query:{index:index}}" tag="button" class="btn btn-default">Alterar</router-link>
		<router-link to="/regionais"><button @click="deletar(regional.id)" tag="button" class="btn btn-default">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listaregionais',
    data () {
      return {
        colunas: ['id', 'nome', 'estado', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      regionais () {
        return this.$store.state.regionais
      }
    },
    mounted () {
      this.getRegionais()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/regionais/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getRegionais()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: A regional selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getRegionais () {
        this.$http.get('http://endicon.esy.es/dados/regionais').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_REGIONAIS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>