<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">

		 	<div class="form-group">
		 	<label for="regional">Nome:</label>
		<input type="text" class="form-control" name="regional" placeholder="Nome da regional" v-model="nome">
		</div>
		<div class="form-group">
		<label for="estado">Estado:</label>
		<input type="text" class="form-control" name="estado" placeholder="Estado da regional" v-model="estado">
		</div>
		<input type="submit">

	</form>
	<router-link to="/regionais">Fechar</router-link>
</section>
</template>
<script>
  export default {
    name: 'novaregional',
    data () {
      return {
        nome: '',
        estado: '',
        nomeCopia: '',
        estadoCopia: ''
      }
    },
    methods: {
      enviar () {
        this.nomeCopia = this.nome
        this.estadoCopia = this.estado
        this.$http.post('http://endicon.esy.es/dados/regionais/nova_regional', {
          'Nome': this.nome,
          'Estado': this.estado
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((data) => {
            this.$store.commit('ADD_REGIONAL', {
              'id': data.id,
              'nome': this.nomeCopia,
              'estado': this.estadoCopia
            })
          })
          this.nome = ''
          this.estado = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>