<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/equipamentoscoletivos/novoequipamentocoletivo">Nova equipamento coletivo</router-link>
<button @click="getEquipamentosColetivos">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(equipamentocoletivo,index) in equipamentoscoletivos">
	<td v-for="atributo in equipamentocoletivo">{{atributo|capitalize}}</td>
	<td>
		<router-link :to="{path:'/equipamentoscoletivos/verequipamentocoletivo', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/equipamentoscoletivos/editarequipamentocoletivo', query:{index:index}}">Alterar</router-link>
		<router-link to="/equipamentoscoletivos"><button @click="deletar(equipamentocoletivo.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listaequipamentoscoletivos',
    data () {
      return {
        colunas: ['id', 'nome', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      equipamentoscoletivos () {
        return this.$store.state.equipamentoscoletivos
      }
    },
    mounted () {
      this.getEquipamentosColetivos()
    },
    methods: {
      deletar (id) {
        this.$http.delete('http://endicon.esy.es/dados/equipamentoscoletivos/' + id).then((response) => {
          console.log('sucess ' + response)
          this.getEquipamentosColetivos()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: A funcao selecionada está sendo utilizada por um ou mais dados, exclua-os primeiro'
        })
      },
      getEquipamentosColetivos () {
        this.$http.get('http://endicon.esy.es/dados/equipamentoscoletivos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_EQUIPAMENTOSCOLETIVOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style>

</style>